Using the dataset from an IOT device retreived from here and introduced to here. Uploaded to the web for you to retrieve easily here https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv Answer the folloiwng questions.

Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.
What is the minimum and maximum date and time?
What is the largest interval inbetween temperature checks?
What is the average datetime?
What was the average outside temperature on '09-11-2018'?

In [5]:
import pandas as pa
df = pa.read_csv('IOT-temp.csv')

df.head(15)

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,8/12/2018 9:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,8/12/2018 9:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,8/12/2018 9:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,8/12/2018 9:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,8/12/2018 9:29,31,In
5,__export__.temp_log_196125_b0fa0b41,Room Admin,8/12/2018 9:29,31,In
6,__export__.temp_log_196121_01544d45,Room Admin,8/12/2018 9:28,29,In
7,__export__.temp_log_196122_f8b80a9f,Room Admin,8/12/2018 9:28,29,In
8,__export__.temp_log_196111_6b7a0848,Room Admin,8/12/2018 9:26,29,In
9,__export__.temp_log_196112_e134aebd,Room Admin,8/12/2018 9:26,29,In
10,__export__.temp_log_196108_4a983c7e,Room Admin,8/12/2018 9:25,42,Out
11,__export__.temp_log_196108_4a983c7e,Room Admin,8/12/2018 9:25,42,Out
12,__export__.temp_log_196101_d5ec7633,Room Admin,8/12/2018 9:24,29,In
13,__export__.temp_log_196099_3b8ef67b,Room Admin,8/12/2018 9:24,29,In
14,__export__.temp_log_196095_788b2c27,Room Admin,8/12/2018 9:22,29,In

Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

In [6]:
df.noted_date = pa.to_datetime(df.noted_date)

What is the minimum and maximum date and time?

In [7]:
print (df.noted_date.min())

2018-01-11 00:06:00

In [8]:
print (df.noted_date.max())

2018-12-10 23:55:00

What is the largest interval inbetween temperature checks?

In [11]:
interval =  df.noted_date.max() - df.noted_date.min()

print(interval)

333 days 23:49:00

What is the average datetime?

In [9]:
print (df.noted_date.mean())

2018-09-18 23:04:02.697989888

What was the average outside temperature on '09-11-2018'?

In [12]:
temout= df['out/in'] == Out && df['noted_date'] == '09/11/2018'
temdate= df['noted_date'] == '09/11/2018'

In [19]:
df1 = temout & temdate

In [22]:
tempMean = df.groupby(df1)['temp'].mean()

In [23]:
tempMean

False    35.053931
Name: temp, dtype: float64