<a href="https://colab.research.google.com/github/ranjukhanal11/ranjukhanal11/blob/main/Quiz15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [ ]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [ ]:
import re
re.sub(r"\[(.+)\]","",df1.iloc[0,3])

'29,029'

In [ ]:
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [ ]:
import re
re.sub(r"\[(.+)\]","", df1['Mountain name(s)'])

TypeError: ignored

In [ ]:
df1['Mountain name(s)'] = df1['Mountain name(s)'].str.replace(r"\[.*\]","")
df1['Mountain name(s)'] = df1['Mountain name(s)'].str.replace(r" \[.*\]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [ ]:

# Importing re package for using regular expressions
import re
  
# Function to clean the names
def Clean_names(City_name):
    # Search for opening bracket in the name followed by
    # any characters repeated any number of times
    if re.search('\(.*', City_name):
  
        # Extract the position of beginning of pattern
        pos = re.search('\(.*', City_name).start()
  
        # return the cleaned name
        return City_name[:pos]
  
    else:
        # if clean up needed return the same name
        return City_name

In [ ]:
df1['Rank[dp 1]'] = df1['Rank[dp 1]'].apply(Clean_names)

In [ ]:
df1['ft'] = df1['ft'].apply(Clean_names)

TypeError: ignored

In [ ]:
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [ ]:
def clean_name(dirty_name):
  list1 = re.sub(r"\[(.+)\]", "",dirty_name).split()
  return list1[0] + " " + list1[1].capitalize()

In [ ]:
df1['Rank[dp 1]'] = df1['Rank[dp 1]'].str.replace(r" \[.*\]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [ ]:
re.sub(r"\[\w*\]","",df1.iloc[0,1])

'.mw-parser-output ul.cslist,.mw-parser-output ul.sslist{margin:0;padding:0;display:inline-block;list-style:none}.mw-parser-output ul.cslist-embedded{display:inline}.mw-parser-output .cslist li,.mw-parser-output .sslist li{margin:0;padding:0 0.25em 0 0;display:inline-block}.mw-parser-output .cslist li:after{content:", "}.mw-parser-output .sslist li:after{content:"; "}.mw-parser-output .cslist li:last-child:after,.mw-parser-output .sslist li:last-child:after{content:none}Mount EverestSagarmathaChomolungma'

In [ ]:
re.sub(r"\[\w*\]","",df1.iloc[0,3])
re.sub(r"\[\w*\]","",df1.iloc[0,6])
re.sub(r"\[\w*\]","",df1.iloc[0,7])
re.sub(r"\[\w*\]","",df1.iloc[0,8])
re.sub(r"\[\w*\]","",df1.iloc[0,9])
re.sub(r"\[\w*\]","",df1.iloc[0,10])
re.sub(r"\[\w*\]","",df1.iloc[0,11])
re.sub(r"\[\w*\]","",df1.iloc[0,12])

'NepalChina'

In [ ]:
re.sub(r"\[(.+)\]","",df1.iloc[0,1])
re.sub(r"\[(.+)\]","",df1.iloc[0,3])
re.sub(r"\[(.+)\]","",df1.iloc[0,6])
re.sub(r"\[(.+)\]","",df1.iloc[0,7])
re.sub(r"\[(.+)\]","",df1.iloc[0,8])
re.sub(r"\[(.+)\]","",df1.iloc[0,9])
re.sub(r"\[(.+)\]","",df1.iloc[0,10])
re.sub(r"\[(.+)\]","",df1.iloc[0,11])
re.sub(r"\[(.+)\]","",df1.iloc[0,12])

'NepalChina'

**We can solve the last column problem by making a list of countries name and then using regular expressions to insert a space after a specific country name. we may also remove the brackets using regular expressions**